h2 {
    line-height:calc(1.3em + var(--v-adj,0)*1em);
}
:is(.layer5w,.LB,.layer7b) h2.char-k {
    --v-adj:.15;
}
:is(a[class^=layer][id^=超],#闇α,#光α) h2.char-2 {
    --v-adj:.13;
}
:is(#α,#β) h2 {
    --v-adj:-.1;
}

:is(a[class^=layer][id^=超],#闇α,#光α) h2.char-2::first-letter {
    font-size:.8em;
    vertical-align:.07em;
}
h2.char-1::first-letter,.dash h2 {
    letter-spacing:calc(var(--h-adj,0)*1em);
}
h2.char-2::first-letter,h2.char-3,h2.char-3::first-letter {
    letter-spacing:max(-.08em,var(--h-adj,0)*1em - var(--space,0)*1em/10);
}
.dash h2.char-2::first-letter {
    letter-spacing:max(-.1em,var(--h-adj,0)*1em - var(--space,0)*1em/10);
}
h2.char-k::first-letter {
    letter-spacing:max(-.1em,var(--h-adj,0)*1em);
}
:is(#VL2,#BL2,#BL3) h2 {
    letter-spacing:-.1em;
}
:is(#SgV,#Hy2) h2::first-letter,#Hy2 h2 {
    letter-spacing:-.07em;
}
:is(a[id='Xt+'],#Hl2,#SP2) h2 {
    letter-spacing:-.05em;
}
:is(#Lc2) h2,
:is(a[id^='+']) h2.char-2 {
    letter-spacing:-.025em;
}
a[id^='+'] h2.char-1 {
    --h-adj:-.075;
    margin-right:.025em;
}
:is(#∞L) h2 {
    --h-adj:-.1;
}
:is(a[id^='+'],a[id='1′'],a[id='8′']) h2.char-2,
:is(a[id^=DC],a[id^=DZ]).BSB h2,
:is(#Mr,#HL,#SP2) h2 {
    --h-adj:-.05;
}
:is(a[id^=dα],a[id$='2'].layer6c,a[id$='2'].layer7c,
#D2,#H2,#M2,#N2,#O2,#U2,#V2,#W2,#Y2,#pP,#hK,a[id='2B'],a[id='2D'],
#Bn,#Kp,#Qc,#Rb,#Sp,#Xc,#Xp,#W′) h2 {
    --h-adj:-.025;
}
:is(#BH,#KN,#wV) h2 {
    --h-adj:.025;
}
:is(#Pw,#Wv,#Wy) h2,
:is(a[id^='+']) h2.char-3 {
    --h-adj:.05;
}
:is(#Cm,#Dm.dash) h2 {
    --h-adj:.12;
}
:is(a[class^=layer][id^=超],#闇α,#光α) h2.char-2 {
    --h-adj:.45;
}
:is(a[id^='+'],#GRP,#BDr) h2.char-3 {
    margin-right:.1em;
}
:is(#Brc) h2 {
    letter-spacing:-.02em;
}
:is(#HKr) h2 {
    letter-spacing:-.04em;
}
:is(#GPg,#GPr) h2 {
    letter-spacing:-.06em;
}
:is(#Dvn) h2 {
    letter-spacing:-.07em;
}
:is(#MBD,#MDm,#BMb) h2 {
    letter-spacing:-.09em;
}
:is(#BMb) h2 {
    letter-spacing:-.1em;
}
:is(#Brc) h2::first-letter {
    letter-spacing:-.02em;
}
:is(#Dvn) h2::first-letter {
    letter-spacing:-.06em;
}
:is(#MNv,#MBD,#MDm) h2::first-letter {
    letter-spacing:-.11em;
}
:is(#BMb,.MFB) h2.char-3 {
    margin-right:.075em;
}
:is(#Hy2,#SgV,#Dvn,#Brc,
#Gr,a[id='+sh']) h2 {
    margin-right:.05em;
}
:is(#HL,#HY,#Rg,a[id='+sw'],a[id$='2'].layer7c,
#Gg,#Mr,#Nt,#Qt,#Dr,#Br,#Ir,#Qc,
#bX,#hK,#oE,#Dt,#Ff,
a[class^=layer][id^=超],#闇α,#光α) h2.char-2 {
    margin-right:.025em;
}
:is(#LN,#SP,#Ln,#aH,#tW,#gV,#gK,
#Ar,#Ch,#Cm,#Tr,#Wd,#Wh,#Xc,#Yr,a[id='Xt+'],a[id='00'],#α′,
#A2,#J2,#S2,#X2,#Y2,#tN) h2 {
    margin-right:-.025em;
}
:is(a[id^='2'].layer6s,
#Ab,#Js,#Lp,#Sh,#Sp,#Sw,#Tp,#Tw,#Vn,#Ym,#Zn,
a[id='8′'],a[id='10'],#Xn,#Xp,#S′,#W′) h2 {
    margin-right:-.05em;
}
.BSB h2 {
    text-align:left;
    padding-left:.385em;
}
#GD h2 {
    padding-left:.45em;
}
:is(#KMR,#SMR) h2 {
    transform:scaleX(.95);
    margin-right:.05em;
}
:is(#Mm,#SgV,#HXt′,#BDr) h2,
a[id^='+'] h2.char-2,
:is([class^=layer],.MFB,.BSB) h2.char-3 {
    transform:scaleX(.9);
}
:is(#HCh′,a[id='HXt+′']) h2 {
    transform:scaleX(.85);
}
:is(#BMb,.metal) h2.char-3 {
    transform:scaleX(.8);
}
:is(#HWv′) h2 {
    transform:scaleX(.75);
}
:is(#MDm) h2 {
    transform:scaleX(.7) !important;
}
#Hy2 sup,
:is(a[id^=DG],a[id^=DR]).BSB h2 sup {
    margin-left:-.05em;
}
#GDV h2 sup {
    margin-left:-.1em;
}
a[id$=V2].BSB h2 sup {
    letter-spacing:-.05em;
}
h2 sub {
    letter-spacing:-.08em;
    vertical-align:-.2em;
}

.dash h2.char-1::first-letter {
    letter-spacing:calc(var(--d-adj,0)*1em);
}
.dash h2 {
    letter-spacing:max(-.18em,var(--d-adj,0)*1em + var(--space,0)*1em/-10);
    margin-right:calc(-.1em + (var(--d-adj,0)*1em + var(--space,0)*1em/-10)/-1.5) !important;
}
:is(#Wd).dash {
    --d-adj:.08;
}
:is(#Wv,#Mm).dash {
    --d-adj:.025;
}
:is(#Mr,#Qc,#Qt,#Xc).dash {
    --d-adj:-.025;
}
:is(#B,#Q,#X,#Cm,#Ds,#Ev,#Hn,#Js,#Op).dash {
    --d-adj:-.05;
}
:is(#Ch,#Sw).dash {
    --d-adj:-.075;
}
:is(#A,#Kp,#Rb,#Sp,#Zn,#Xp).dash {
    --d-adj:-.1;
}

:is(.metal,.high) h2::first-letter {
    letter-spacing:calc(var(--h-adj,0)*1em + max(-.075em,var(--space,0)*1em/-10));
}
:is(.metal,.high) h2.char-3 {
    letter-spacing:calc(var(--h-adj,0)*1em + max(-.075em,var(--space,0)*1em/-10) + .01em);
}
:is(#MUn) h2 {
    --h-adj:-.02;
}
:is(#MS,#MX,#MA) h2 {
    --h-adj:.05;
}
:is(#MA) h2 {
    margin-right:.025em;
}
:is(#MX,#MF,a[id='HXt+′']) h2,
.metal .char-3 {
    margin-right:.05em;
}
.high[id$='′'] h2 {
    letter-spacing:-.05em;
    margin-right:-.05em;
}
#HJ′ h2 {
    letter-spacing:0;
}
#HEt h2::first-letter {
    letter-spacing:-.1em;
}
:is(#HEt) h2 {
    margin-right:.1em;
}
#HWv′ h2 {
    margin-right:-.025em;
}
:is(#HCh′,#HWv′) h2 i {
    margin-left:-.1em;
}
:is(a[id='HXt+′']) h2 i {
    margin-left:-.35em;
}

.chi:not(:empty) {
    margin: 0 -.2em 0 -.25em;
}
.can:not(:empty) {
    margin: 0 -.5em;
}
a:is(.dash,.high,.metal,[id='+X'],[id='+Z']) .can:empty+.eng {
    padding-left:.1em;
}
.name-col>div:first-child {
    margin-right: .2em;
    text-align: center;
}
.name-row .can:not(:empty) {
    margin: 0 clamp(-.5em,(var(--space,0)/-40 - .5) * 1em,-.4em) 0 -.4em;
    letter-spacing:calc(var(--space)/-250*1em);
}
.name-row .eng {
    letter-spacing:calc(var(--space)/-600*1em);
}
.name-row .jap {
    letter-spacing:calc(var(--space)/-200*1em);
}
.name-row .chi {
    letter-spacing:calc(var(--space)/-400*1em);
    margin-left:-.25em;
}
.name-col .jap {
    letter-spacing:max(-.15em,var(--space)/-100*1em);
    margin-left:clamp(-.15em,calc((var(--space) - 12)/-60*1em),0em);
}
.name-col .eng {
    letter-spacing:calc(var(--space)/-400*1em);
}
.name-col>div[style]>.chi {
    letter-spacing:calc(var(--space)/-300*1em);
    margin-left:-.35em;
}
:is(.MFB,.BSB) div[style]>.jap {
    margin-left:-.2em;
}
:is(a[id$=S],a[id$=F],a[id$=V]).BSB .can {
    margin-left:-.5em;
}
:is(a[id$=V2]).BSB .can {
    margin-left:.1em;
}
#DZV2 .can {
    margin-left:-.1em;
}
:is(#DGV2,#DZV2) .name-row>div:first-child {
    --space:18 !important;
}
@supports (-webkit-touch-callout:none) {
    .name-col .eng {
        margin:0 -.05em;
        letter-spacing:calc(var(--space)/-300*1em);
    }
}
:is(#Ad,#Dm) .chi {
    margin-left:-.4em;
}
#Ev .chi {
    margin-left:-.5em;
}
:is(#Ev) .eng {
    margin-left:-.05em;
}
:is(#J.layer5b) .eng {
    margin-left:-.1em;
}
:is(a[id='HXt+′'],#Ul.dash) .jap {
    letter-spacing:-.13em;
}

:is(#GRP,#Al.flat) .desc {
    font-size:.55em;
}
#Ig .desc {
    letter-spacing:-.03em;
}
#GRP .desc {
    letter-spacing:-.04em;
}
:is(#Pr.disk2,#M.layer5b,#Br.layer7b,a[id='+VS']) .desc {
    transform:translateX(calc(var(--scale)*50% - 50%)) scaleX(var(--scale));
    width:calc(100%/var(--scale));
    letter-spacing:-.03em;
}
#M.layer5b .desc  {--scale:.881;}
#Pr.disk2 .desc   {--scale:.888;}
a[id='+VS'] .desc {--scale:.924;}
#Br.layer7b .desc {--scale:.935;}
