*,*::before,*::after {
    line-height:1.5em;
}
header {
    border-bottom:.2em solid var(--theme);
    padding:.5em;
}
header>* {
    text-align:right;
    display:block;
}
h1 {
    color:white;
}
h2 {
    color:var(--theme);
}
section {
    border-bottom:.2em solid var(--theme);
    padding:.2em .6em;
}
[data-icon]::before {
    content:attr(data-icon);
}

#contents {
    position:relative;
}
#contents div {
    position:absolute;top:.5rem;left:max(.5rem,50% - 500px);
    border-radius:.8em;
    background:hsla(0,0%,100%,.2);
    padding:.5em;
    color:var(--theme);line-height:1.1;
}
#contents div a {
    display:flex;align-items:center;gap:.4em;
    text-align:left;
    margin-top:.2em;
}
#contents div a::before {
    line-height:1;
}

menu {
    position:relative;
    margin:2.5em auto;
    width:14em;height:14em;
}
menu li,menu a span,db-status {
    position:absolute;top:50%;left:50%;
    transform:translate(-50%,-50%);
}
menu li {
    width:4.5em;height:4.5em;
}
menu li a {
    height:100%;display:block;
}
menu a[href] svg {
    fill:hsla(0,0%,0%,0.1);stroke:hsl(var(--c),100%,75%);
    filter:drop-shadow(0 0 0.1em hsl(var(--c),100%,75%)) drop-shadow(0 0 0.2em hsl(var(--c),100%,65%)) drop-shadow(0 0 0.4em hsl(var(--c),100%,55%));
}
menu:not([href]) svg {
    fill:rgba(0,0,0,.1);stroke:grey;
}
menu a[href] span {
    color:hsl(var(--c),100%,90%);
    -webkit-text-stroke:hsl(var(--c),100%,80%) 0.02em;
}
menu a:not([href]) span {
    color:white;
}
menu a:not([href]):not([title])::before {
    content:'已關閉';
    position:absolute;left:50%;top:50%;
    transform:translate(-50%,-50%) rotate(30deg);
    z-index:5;
    width:100%;
    line-height:2em;
    white-space:nowrap;color:black;
    background:linear-gradient(to right,rgba(255,255,255,.0),rgba(255,255,255,.3) 10%,rgba(255,255,255,.6) 50%,rgba(255,255,255,.3) 90%,rgba(255,255,255,0) 100%);
    border-top:.1em solid hsl(var(--c),50%,50%);border-bottom:.1em solid hsl(var(--c),50%,50%);
}
menu>svg:first-of-type { 
    stroke:hsl(var(--r),100%,70%);fill:none;
    filter:drop-shadow(0 0 0.1em hsl(var(--r),100%,60%)) drop-shadow(0 0 0.15em hsl(var(--r),100%,50%)) drop-shadow(0 0 0.3em hsl(var(--r),100%,40%));
}
menu>svg:last-of-type { 
    stroke:hsl(var(--r),100%,90%);fill:none;
    filter:drop-shadow(0 0 0.15em hsl(var(--r),100%,80%)) drop-shadow(0 0 0.25em hsl(var(--r),100%,70%)) drop-shadow(0 0 0.5em hsl(var(--r),100%,60%));
    stroke-dasharray:5;stroke-dashoffset:2.5;
    stroke-linecap:round;
    position:absolute;top:0%;left:0%;
    will-change:stroke-dashoffset;
}
menu a[href] use {
    animation:rotatingR 3s ease-out forwards; 
}
menu>svg:last-of-type {
    animation:movingR 3s ease-out forwards;
}
:is(menu:hover,menu:focus-within) a[href] use {
    animation:rotatingL 20s forwards;
}
:is(menu:hover,menu:focus-within)>svg:last-of-type {
    animation:movingL 20s forwards;
}
@keyframes rotatingR {to {transform:rotate(359deg);}}
@keyframes movingR   {to {stroke-dashoffset:45.8;}}
@keyframes rotatingL {to {transform:rotate(-1079deg);}}
@keyframes movingL {
    from {stroke-dashoffset: 45.8;}
    to {stroke-dashoffset: -146.4;}
}

#contents~section>* {
    max-width:1000px;
    margin:auto;
}
article>* {
    display:block;
}
fieldset {
    position:relative;
    border:none;
    margin:0 auto 1em auto !important;padding:0;
    color:white;
}
#now {
    --glow:170;
}
#now article {
    margin-bottom:1em; padding-left:.5em;
    border-left:.1em solid var(--c);
}
h3 {
    margin:0 0 1.5em .2em;
    display:flex;
    color:hsl(var(--glow),100%,70%);
    text-shadow:0.08em 0.08em 0 hsl(var(--glow),100%,100%), 0 0 1em hsl(var(--glow),100%,70%), 0 0 2em hsl(var(--glow),100%,50%);
    transform:skew(0,-7deg);
}
h3 span {
    margin:0 0.02em;
}
#now h3 span:nth-child(1) {transform:translateY(0.3em);font-size:2.5em; }
#now h3 span:nth-child(2) {transform:translateY(-0.3em);font-size:4em; }
#now h3 span:nth-child(3) {transform:translateY(0.7em);font-size:1.5em; }
#now h3 span:nth-child(4) {transform:translateY(0.1em);font-size:3em; }
ul {
    margin:0;
    padding-left:1em;
}
ul ul {
    padding-left:.5em;
}
#now div li:last-of-type {
    width:calc(100% - 3em);
}
#now h4,#now h4+ul li {
    color:hsl(var(--glow),100%,70%);
}
#now h4+div {
    position:relative;
    margin-top:.2em;
}
#now a[href*=youtube] {
    position:absolute;right:0;bottom:-0.8em;
}
iframe {
    margin-top:0.5em;
    width:23.2em;max-width:100%;
    height:calc(23.2em*9/16);
    border:none;
}

#reboot {
    user-select:none;-webkit-user-select:none;
    text-align:left;
}
#reboot h5 {
    display:block;
    margin-top:.75em    ;
}
#reboot ul {
    display:flex;gap:.5em;flex-wrap:wrap;
    list-style:none;
    padding:0;
}
#reboot li {
    border-bottom:.1em solid var(--theme);
}
#reboot ul~* {
    text-align:right;
}
#reboot dl {
    flex-wrap:wrap;justify-content:flex-end;
}
#reboot dl div {
    width:33%;max-width:7.9em;
    border-right:.01em solid;
    padding:0 .4em;margin-top:.3em;
    position:relative;
}
#reboot dl div::before {
    content:attr(title);
    position:absolute;left:.2em;top:-.2em;
    font-size:3em;
    opacity:.4;
}
#reboot dt {
    font-size:.9rem;
    color:var(--theme);
}
#reboot dd {
    font-size:.7rem;
}
#reboot dl+div {
    text-align:right;
}
#reboot p {
    display:flex;justify-content:space-between;align-items:center;
    margin:.2em 0 .2em auto;
    border-radius:9em;
    width:20em;
    background:var(--overlay1);
}
#reboot p:first-of-type {
    margin-top:.5em;
}
#reboot i {
    width:2em;height:2em;
    border-radius:9em;
    text-align:center;
}
#reboot i:first-child {
    background:var(--overlay2);
    margin-right:1em;
}
#reboot i:last-child::before {
    content:'・';
}
#reboot i[style*=translate]:first-of-type {
    background:var(--theme);
}

footer {
    background-color:grey;
    padding:.5em;
    color:white;
    border:none;
}

/*font-size*/
footer
{font-size:0.5em;}
#reboot dl+div,dialog-gallery
{font-size:0.7em;}
#contents div,h1,h5,time,fieldset li,#reboot li
{font-size:0.8em;}
menu a span,h2:last-child
{font-size:0.9em;}
h4,#reboot span,#reboot ul+h5
{font-size:1.05em;}
h2:first-of-type,#contents div span
{font-size:1.2em;}
#reboot i,#reboot i::before
{font-size:1.5em;}
h4+div a::before,#contents div a::before
{font-size:2em;}

@media (min-width:700px) {
    body {font-size:26px;} }
@media (max-width:630px) and (orientation:portrait) {
    menu {margin:2.5em 2.5em 2.5em auto;}
}

dialog-gallery img {
    height:30em;
}