h1,h2,h3,h4,h5,h6,code,a,u,b,i,em {
    all:unset;
}
*,*::before,*::after {
    box-sizing:border-box !important;
}
summary:focus {
    outline:none;
}
#contents,h1,h2,h3,h4,.can::before,.can::after {
    font-family:Mincho,MAIN;
}
:root,input,input::placeholder,button,db-status,.groups h2,.groups h3,.groups h4 {
    font-family:MAIN,Hiragino maru Gothic Pro,
        Noto Sans CJK TC Demilight,Noto Sans CJK TC,
        Source Han Sans TC Demilight,Source Han Sans TC,
        微軟正黑體,Microsoft JhengHei,Sans-Serif;
}
@font-face {
    font-family:"Mincho";font-display:swap;
    src: url("/include/fonts/Mincho.woff2");
}
@font-face {
    font-family:'MONO';font-display:swap;
    src:url('/include/fonts/FiraCode-SemiBold.woff2');
}
@font-face {
    font-family:'MAIN';font-display:swap;
    src: url("/include/fonts/FiraSans-Regular.woff2");
}
@font-face {
    font-family:'COND';font-display:swap;
    src: url("/include/fonts/FiraSansExtraCondensed-Regular.woff2");
}
@keyframes highlight {from {filter:brightness(300%);} }

a:target,a.target {
    animation:highlight 1s ease 3;animation-delay:0.5s;
    scroll-margin-top:5rem;
}
a.disabled {
    filter:saturate(0%);
    pointer-events:none;
}
menu,ol,dl,dt,dd,summary {
    list-style:none;margin:0;padding:0;
}
aside {
    text-align:right;
}
article {
    text-align:left;
}
svg {
    overflow:visible;
}
ruby {
    display:inline-flex;flex-direction:column-reverse;align-items:center;
}
article ruby {
    display:inline;
}
rt {
    margin-top:0;line-height:.7;
}
ruby.below {
    flex-direction:column;
}
ruby.below rt {
    margin:0 auto .7em auto;
    font-style:italic;font-size:0.7em;
}
label,button,summary,[onclick],a[href] {
    transition:filter .3s,opacity .3s,background-color .3s;
}
:is(label:not([for=popup]),button:not([disabled]),summary,[onclick]):hover,a[href]:not(.disabled) {
    cursor:pointer;
}
a[href]:not(.disabled):hover {
    filter:brightness(110%);
}
:is(label:not([for=popup]),button:not([disabled]),summary,[onclick]):hover {
    filter:brightness(90%);
}
input[type=checkbox],input[type=radio],::-webkit-details-marker {
    display:none;
}
[hidden] {
    display:none !important;
}
@media (max-width:630px) and (orientation:portrait) {
    html {font-size:4vw;}
}
@media (max-width:630px) and (orientation:landscape) {
    html {font-size:3vw;}
}
@media (min-width:631px) {
    html {font-size:20px;}
}

html {
    background:var(--backdrop);
    --backdrop:black;--overlay1:#383838E8;--overlay1-s:#383838;--overlay2:#606060;--overlay3:#999;
    color:var(--on);--on:#ddd;
    --bg-b:30%;--theme-b:35%;--on-b:80%;
    --c:45;--theme:hsl(var(--c),90%,48%);
}
html.day {
    --backdrop:white;--overlay1:#E8E8E8E8;--overlay1-s:#E8E8E8;--overlay2:#D0D0D0;
    --on:black;--bg-b:90%;--theme-b:85%;--on-b:30%;
}
.layer,.disk,.driver {
    --bg:hsla(var(--c),60%,calc(var(--bg-b) + var(--b-adj)),.9);
    --fg:hsl(var(--c),90%,calc(50% + var(--b-adj)));
}
.layer  {--c:135;--b-adj:-10%;}
.disk   {--c:225;--b-adj:15%;}
.driver {--c:315;--b-adj:5%;}
html::before {
    content:initial !important;
}
body {
    margin:0;
    text-align:center;-webkit-text-size-adjust:100%;
    opacity:1 !important;transition:opacity .5s;
}
main {
    padding:5em 0 1em 0;
}
:is(db-status[progress],db-status[status])~main {
    padding-top:1em;
}
body>db-status {
    margin:5em 0 0 0;
}
main>db-status {
    margin:0 0 .5em 0;
}
a[href],nav,
form summary,caption label,:is(caption,#filter) button,#filter summary,
#catalog summary::after {
    color:var(--theme);
}
.loading,.part-result,.prod-result,
#filter.active summary {
    color:coral;
}

nav {
    width:100%;height:4.15rem;
    border-bottom:0.15rem solid;
    display:grid;grid-template:1.7rem 1.7rem / auto minmax(0,1fr) minmax(0,1fr) auto auto auto;
    gap:.2rem var(--gap);padding:.2rem .3rem;--gap:.3rem;
    background:var(--overlay1);
    position:fixed;z-index:5; 
}
input+nav {grid-template:1.7rem 1.7rem / auto minmax(0,1fr) minmax(0,1fr) auto auto;}
@media (min-width:800px) {
    nav {grid-template:1.7rem 1.7rem / auto auto minmax(0,1fr) auto auto auto;}
    input+nav {grid-template:1.7rem 1.7rem / auto auto minmax(0,1fr) auto auto;}
}
nav a {
    grid-area:1/1/3/2;
    font-size:2em;
}
nav a:nth-child(2) {
    grid-area:1/2/3/3;
    margin-left:.1em;
    justify-content:flex-start;
}
nav img {
    height:.9em;
    margin-bottom:.1em;
}
nav a:first-child::before,nav a:nth-child(2)::after {
    content:'';
    border-style:solid;border-color:transparent;
    font-size:.5em;
}
nav a:first-child::before {
    border-width:1.75em 1em 1.75em 0;
    border-right-color:var(--theme);
    margin-right:.3em;
}
nav a:nth-child(2)::after {
    border-width:1.75em 0 1.75em 1em;
    border-left-color:var(--theme);
    margin-left:.3em;
}
nav [data-icon]::before {
    content:attr(data-icon); 
}
nav>a,nav>div,.toggle {
    display:inline-flex;align-items:center;justify-content:center;
}

.part-result:not([value]),.prod-result:not([value]) {
    display:none;
}
.part-result[value]::before,.prod-result[value]::after {
    content:attr(value);
    font-family:COND,MAIN;
}
.part-result {
    grid-area:1/-3/2/-2;justify-self:end;
    line-height:1.7rem;
}
.part-result[value]::before {
    font-size:2em;
    display:inline-block;transform:translateY(.05em);
}
.part-result[value]::after {
    content:'款';
    margin:0 .1em 0 .2em;
    font-family:COND,MAIN;
}
.prod-result {
    grid-area:2/4/2/5;justify-self:flex-end;
    position:relative;
}
.prod-result::after {
    position:absolute;right:110%;bottom:0;line-height:.8;
    font-size:2rem;
}
.prod-result::first-letter {
    letter-spacing:.6em;
}

.free-search,.prod-result {
    font-size:.58rem;line-height:1.2;
    white-space:nowrap;
    margin-top:.1rem;
}
.free-search::before,.prod-result::before {
    content:attr(title);
    display:block;
    font-size:.75rem;
}
.free-search {
    grid-area:1/4/2/5;
}
.prod-search {
    grid-area:1/-3/2/-2;
    position:relative;
}
.prod-search label {
    position:absolute;left:0;top:50%;transform:translate(0,-50%);
}
.prod-search input {
    padding:0 .3em 0 1.7em;
    background:none;
    font-size:1em;color:var(--on);
}
.prod-search input,.prod-reset {
    width:7rem;
}
.prod-reset {
    grid-area:2/-3/3/-2;align-self:center;
    font-size:.8em;
    white-space:nowrap;
}

.prod-search input,.prod-reset,.toggle {
    border:.1rem solid var(--theme);border-radius:3em;
    height:1.4rem;
}
.prod-search label,.prod-reset,.toggle::before {
    background:var(--theme);    
    color:var(--overlay1-s);
}
.prod-search label,.toggle::before,
.part-mag label,.part-mag::before,.part-mag::after {
    width:1.7rem;height:1.7rem;
    line-height:1.65;font-size:1.1rem;
    border-radius:5em;
}
.part-mag label,.part-mag::before,.part-mag::after {
    background:hsl(var(--h),var(--s),80%);
    color:hsl(var(--h),var(--s),50%);
}
.part-mag {
    grid-area:2/-3/3/-2;justify-self:flex-end;
    justify-content:space-between;
}
.part-mag label {
    display:none;
}
.part-mag,.toggle {
    width:calc(3.4rem + var(--gap));
}
.part-mag,.toggle,.menu-scroll {
    justify-content:space-between;
}
input[type='range'] {
    -webkit-appearance:none;outline:none;
    width:25vw;max-width:17em;height:1em;
    background:linear-gradient(to right,hsl(220,70%,70%),hsl(40,70%,70%));
    border-radius:5em;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:2em;height:2em;
    border-radius:5em;
    background:hsl(120,70%,50%);
}

.toggle::before {
    margin:0 -.1em;
    content:'';
}
#day:checked+label {
    flex-direction:row-reverse;
}
#day:checked+label::before {
    content:'\f185';
}
.menu-twilight {grid-area:1/-2/2/-1;}
.menu-scroll   {grid-area:2/-2/3/-1;}
.menu-scroll label {
    width:1.7rem;height:1.7rem;
    font-size:1.7rem;line-height:1.1;
}
@media (min-width:631px) {
    .prod-result {margin-right:auto;}
    .prod-result::after {font-size:3rem;bottom:0;}
    .part-mag {width:auto;}
    input[type=range] {display:initial;}
}

#popup+label {
    display:none;
    position:fixed;top:0;left:0;
    width:100%;height:100%;z-index:9;
    background:hsla(0,0%,0%,0.7);
    align-items:center;flex-wrap:initial;
    overflow-y:auto;-webkit-overflow-scrolling:touch;
}
#popup:checked+label {
    display:flex;
}
#popup+label:not(.catalog) {
    justify-content:flex-start;flex-direction:column;
    padding:1em 0;
}
#popup+label>img {
    max-width:min(35em,95%);max-height:150%;
    margin:1em 0;
}
#popup+label a[href*=youtu]::before {
    content:'';
    display:block; width:3em; height:3em;
    background:url(https://www.gstatic.com/alkali/e90fc2de5a0e583a01f03acda2e3e61f9577a646.svg) center / contain no-repeat;
}
.tips,#popup+label::before {
    font-size:.9em;
    border-bottom:.15em dotted;
    padding:.6em 1.5em;margin:2em auto;
}
#popup+label[title]:not([title=''])::before {
    content:attr(title);
    width:min(35em,95%);
    color:white;
}
.tips {
    width:90%;max-width:1000px;
}

.notify::before,a[href$=update]::before {
    content:'❗';
    font-size:3em;
    position:absolute;bottom:-30%;left:-50%;
    transform:rotate(-30deg);
}
